.about-us-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-us-title{
    color: #12724F;
    font-size: 40px;
    font-weight: 700;
    text-align: start;
}

.about-us-row-container{
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
}

.about-us-container-photo{
    width: 630px;
    height: 363px;
    padding: 0 100px 150px 0;
    z-index: 1;
}

.about-us-container-photo-left{
    width: 650px;
    height: 363px;
    padding: 0 0 150px 100px;
    z-index: 1;
}

.about-us-text-container{
    width: 50%;
    padding: 0 100px;
    text-align: justify;
    font-size: 16px;
    font-weight: 400;
}