.header-container{
    display: flex;
    justify-content: space-between;
}

.header-logo-container{
    padding: 5px 40px;
}

.header-logo{
    width: 115px;
    height: 58px;
}

.header-menu{
    display: flex;
    align-items: center;
    padding-right: 40px;

}

.header-menu-point{
      font-weight: 700;
      font-size: 14px;
    padding-right: 20px;
    cursor: pointer;
}

.header-menu-point:hover{
    color:#12724F
}

.language-change-button-logo{
    width:27.62px;
    height:16.4px;
}

.language-change-button{
    color: #A99E9E;
}
